
    <div id="rep-container" style="display:none" class="container">
      <div class="text-center">
        <div class="congress-intro">
          <h5>YOUR CONGRESSPERSON IS</h5>
          <h3><span id="officialTitle">{{title}} {{first_name}} {{last_name}} ({{party}})</span></h3>
          <img
            id="rep-img"
            src="https://theunitedstates.io/images/congress/450x550/{{bioguide_id}}.jpg"
            class="img-responsive img-circle center-block"
            alt="Your Rep"
            width="200"
          />
<br>        </div>
      <div class="jumbotron">
<div class="script">
          <p class="lead">
            Hi my name is Kate and I'm a constituent from The Woodlands, Texas---and I'm calling to urge you to support the newly introduced bipartisan Bridge Act to extend visas for immigrants currently on Deferred Action for Childhood Arrivals. I think it's really important that these students, coworkers and neighbors have their rights protected to work and live in the country they have always called home. Thank you.
          </p>
        </div>
      </div>
      <p>
      </p>
        <a id="call-btn" class="btn btn-lg call-button center-block"  role="button" href="tel:{{telephoneNumber}}">
          Make the call now!
        </a>
      <p class="text-left">
        &#42;Please note, they may ask for your home address. This is normal.
      </p>

      <div style="margin-bottom:25px;">
        <a onclick="shareLinkClicked()" id="shareLink">
          <img src="/images/HelloGOV_link_share.png" style="width: 100px;" />
        </a>
        <div class="hide" id="copyConfirmation">
          <h4>Link copied to clipboard:
            <p id="link" data-clipboard-text="test-link"></p>
          </h4>
        </div>
      </div>

      <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.13/clipboard.min.js"></script>
      <script>
        const shareURL = window.location.pathname;
        const clipboard = new Clipboard('#shareLink', {
            text: function(trigger) {
                return shareURL;
            }
        });

        clipboard.on('success', function(e) {
            console.log(e);
        });
        clipboard.on('error', function(e) {
            console.log(e);
        });

        function shareLinkClicked() {
          // get URL to share

          // show text saying the url is copied
          const shareConfirmation = document.getElementById("copyConfirmation");
          shareConfirmation.className = ""; // reset class name to remove 'hide'

          // use the link element to save to clipboard
          const link = document.getElementById("link");
          link.textContent = shareURL;
          link.setAttribute('data-clipboard-text', shareURL);
        }
      </script>

      <footer class="footer">
        <p>&copy; 2016 HelloGov</p>
      </footer>
    </div> <!-- /container -->
