<div ng-controller="visitorController" id="form-container" class="container">
  <div class="text-center col-md-8 col-md-offset-2">

    <ng-map center="[40.74, -74.18]"></ng-map>

    <div id="rep-container" ng-show="stateOutOfRange" class="ng-hide">
      <div class="text-center">
        <p class="lead reversed-text">
          We're sorry, the address you entered is in a state not covered by our database. Please try entering an
          address in the 50 US States or Puerto Rico.
        </p>
      </div>
    </div>

    <div class="campaign-circles" ng-show="addrForm" class="ng-hide">

    <h3>Campaign:</h3>
    <h1>{{campData.title}}</h1>

    <h3>Script:</h3>
    <p>{{campData.script}}</p>

   <!--  <p>{{campData}}</p>
    <br>
    <p>{{user}}</p> -->
      <h3 class="reversed-text">Enter the address where you vote to find the correct representative.</h3>
      <br>
      <input id="searchTextField" type="text" ng-map-autocomplete ng-model="locResult" options="locOptions" details="locDetails"
        class="form-control input-lg address-search" />
      <button id="address-submit" type="button" ng-click="update()" class="btn primary-button">Submit</button>
      <input id="latitude" type="hidden" />
      <input id="longitude" type="hidden" />
    </div><!-- end campaign-circles -->

    <div id="rep-container" ng-show="repForm" class="ng-hide">
      <div ng-repeat-start="rep in repInfo" class="congress-intro">
        <br>
        <br>
      </div>

      <div id="rep-not-found-container" ng-show="!rep.legislatorFound" class="ng-hide">
        <div class="text-center">
          <p class="lead reversed-text">
            We weren't able to find a {[{rep.title}]} who represents thats address. Please try again!
          </p>
        </div>
      </div>

      <div id="rep-info" ng-show="rep.legislatorFound" class="ng-hide">
        <h5 class="section-header">Your {[{rep.title}]} is</h5>
        <h3 class="rep-name">{[{rep.name}]} ({[{rep.party}]})</h3>
        <img ng-src={[{rep.photo_url}]} class="rep-img center-block" alt="Your Rep" />
        <h3 class="rep-name">Call {[{rep.phone}]}</h3>
      </div>

      <p class="script body-copy" ng-show="rep.legislatorFound" class="ng-hide">
        {{campData.script}}
      </p>

      <a ng-repeat-end ng-show="rep.legislatorFound" id="call-btn" class="btn btn-lg call-button center-block primary-button"
        role="button" href="tel:{[{rep.phone}]}">
        Make the call now!
      </a>

      <a class="btn btn-lg call-button center-block primary-button" role="button" href="{{campData.url}}/thank-you"
        ng-click="sendEvent('call')">
        I'm done
      </a>

      <div style="margin-bottom:25px;">
        {{!-- <a onclick="shareLinkClicked()" id="shareLink">
          <img src="/images/HelloGOV_link_share.png" style="width: 100px;" />
        </a> --}}
        <div class="hide" id="copyConfirmation">
          <h4>Link copied to clipboard:
            <p id="link" data-clipboard-text="test-link"></p>
          </h4>
        </div>
      </div>
    </div> <!-- /rep-container -->

    <div id="rep-container" ng-show="repNotFoundForm" class="ng-hide">
      <div class="text-center">
        <p class="lead reversed-text">
          We weren't able to find any elected officials who represent that address. Please try again!
        </p>
      </div>
    </div>

    <div id="rep-container" ng-show="stateMismatch" class="ng-hide">
      <div class="text-center">
        <p class="lead reversed-text">
          We're sorry, the address you entered is in a state that is not included in this campaign.<br>
          Thank you for your interest!
        </p>
      </div>
    </div>

  </div>
</div>