<!DOCTYPE html>
<html lang="en" ng-app="helloGov">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="../../favicon.ico">
    <title>helloGov</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="/build/css/styles.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{google-maps-api-key}}&libraries=places"
        type="text/javascript"></script>
    <script src="/build/js/vendor.bundle.js"></script>

    <script>
        function openNav() {
            document.getElementById("sideMenu").style.width = "320px";
        }

        function closeNav() {
            document.getElementById("sideMenu").style.width = "0";
        }

        angular.module('helloGov', ['ngMapAutocomplete', 'ngclipboard'])
            .config(function ($interpolateProvider) {
                $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
            })
            .config(function ($httpProvider) {
                // disable browser caching of GET requests
                $httpProvider.defaults.headers.get = $httpProvider.defaults.headers.get || {};
                $httpProvider.defaults.headers.get['Cache-Control'] = 'no-cache';
                $httpProvider.defaults.headers.get['Pragma'] = 'no-cache';
            })
            .constant('constants', {
                API_ROOT: '/api'
            })
            .value('currentUserId', '{{user.id}}');

    </script>
    <script src="/build/js/app.bundle.js"></script>
</head>

<body class="{{{body_class}}}">
    <nav id="nav" class="navbar text-center">
        {{#if logged_in}}
        <span><img class="hamburger" style="cursor:pointer" onclick="openNav()" src="/images/Hamburger.svg" /></span>
        {{/if}}
        <a href="/"><img src="/images/logo.png" class="logo" /></a>
        {{#if logged_in}}
        <div class="pull-right username-display">
            <span class="username">{{user.username}}</span>
        </div>
        {{/if}}
    </nav>

    {{#if logged_in}}
    <div id="sideMenu" class="sidenav">
        <a class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/home">CAMPAIGNS</a>
        <hr>
        {{!-- <a href="/analytics">ANALYTICS</a>
        <hr> --}}
        <a href="mailto:team@hellogov.org">HELP</a>
        <hr>
        <a href="/settings">SETTINGS</a>
        <hr>
        <a href="/logout">LOGOUT</a>
        <hr>
    </div>
    {{/if}}

    <div class="content-wrapper" onclick="closeNav()">
        {{{body}}}
    </div>
</body>

<footer>
</footer>

</html>